<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

</head>
<body>
    
    <div class="container" align=center >
        <div class="jumbotron">
            <h1>About</h1><br>
        </div>
        <p>Lorem,  dolor sit amet consectetur adipisicing elit. Libero tempore doloribus iste cumque, quisquam nesciunt. Sit omnis tenetur illo. Repellat, ab ipsam suscipit fugit rem atque. Repellendus ullam quae ut!</p>
        <a href="{% url 'index' %}"><button class="btn btn-success">Home</button></a>


    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>


</body>
</html>